<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.sun.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isDeleted" jdbcType="INTEGER" property="isdeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tr_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sun.entity.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tr_student (name, birth, address, 
      sex, createTime, updateTime, 
      isDeleted)
    values (#{name,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sun.entity.Student">
    update tr_student
    set name = #{name,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      isDeleted = #{isdeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, birth, address, sex, createTime, updateTime, isDeleted
    from tr_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, birth, address, sex, createTime, updateTime, isDeleted
    from tr_student
  </select>
</mapper>