<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.dao.StudentMapper">
    <sql id="select">
        SELECT
        id
        ,Name
        ,Birth
        ,Address
        ,Sex
        FROM tr_student
        WHERE id = #{id}
    </sql>

    <!--查询-->
    <select id="selectById" resultType="Student" parameterType="Integer">
        <include refid="select"></include>
    </select>

    <!--插入-->
    <insert id="insertOne" parameterType="Student">
        INSERT INTO tr_student (Name ,Birth, address, sex) VALUES (#{name}, #{birth}, #{address}, #{sex})
    </insert>

</mapper>