<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.task.dao.OpenIdMapingDao">
    <select id="queryList" parameterType="map" resultType="OpenIdMaping">
        select id,oldOpenId,newOpenId,mobile,memberCode,No,status
        FROM Busi.tr_openId_maping
        ORDER BY No
    </select>

    <insert id="batchInsert" parameterType="OpenIdMaping">
      INSERT INTO Busi.tr_openId_maping (oldOpenId,newOpenId,mobile,memberCode,No,status)
        VALUES
      <foreach collection="openIdMapings" item="item" separator=",">
          (#{item.oldOpenId},#{item.newOpenId},#{item.mobile},#{item.memberCode},#{item.No},1)
      </foreach>
    </insert>

</mapper>